@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/**
 * Hide the colourful tab border.
 */

#tabbrowser-tabs {
  --tab-line-color: transparent !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]) {
  background-color: transparent !important;
}

.tab-background {
  border-top-style: none !important;
}

/**
 * Hide "Play tab" button from tabs.
 */

.tab-audio-button:not([soundplaying], [muted]) {
  display: none !important;
}

/**
 * Hide drag-to-pin tab drop area.
 *
 * The drop are causes eased content shift, which is not ideal for usability.
 */

#pinned-drop-indicator {
  display: none !important;
}

/**
 * Hide default favicon.
 */

.tab-icon-image[src^="chrome://"] {
  visibility: hidden !important;
}

/**
 * Reduce empty space between tabs and titlebar decorations.
 */

.titlebar-spacer[type="pre-tabs"] {
  width: 12px !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 3px !important;
}

:root[uidensity="compact"] .titlebar-placeholder[type="post-tabs"] {
  width: 0 !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

@media (-moz-platform: windows) {
  .titlebar-spacer[type="pre-tabs"] {
    width: 3px !important;
  }
}

/**
 * Private browsing button placeholder spacing is not properly applied on
 * initial draw, and thus the indicator overlaps the tab bar. We allow
 * click-through to mitigate that.
 */

#titlebar-secondary-buttonbox {
  pointer-events: none !important;
}

#titlebar-secondary-buttonbox > *:not(.private-browsing-indicator) {
  pointer-events: all !important;
}

/**
 * Hide back button border and background.
 */

:root {
  --backbutton-background: transparent !important;
  --backbutton-border-color: transparent !important;
}

/**
 * Allow window dragging around the toolbar buttons.
 */

#nav-bar,
#nav-bar > .customization-target {
  -moz-box-align: center !important;
}

/**
 * Hide Show All Downloads.
 */

.downloadsPanelFooter {
  display: none !important;
}

/**
 * Hide thumbnail and favicon in the Bookmark this page panel.
 */

#editBookmarkPanelImage,
html|div#editBookmarkPanelFaviconContainer {
  display: none !important;
}
